<% if @memo_ids.present? %>
<div class="settings-memo">
  <h1>メモ一覧</h1>
    <% @memos.each do |memo| %>
    <ul>
      <li><%= memo.title %></li>
      <li><%= memo.word1 %>　×　</li>
      <li><%= memo.word2%></li>
      <li><%= memo.content %></li>
      <li><%= link_to "削除", memo, method: :delete, data: {confirm: '本当に削除しますか？'} %></li>
      <hr>
    </ul>
    <% end %>  
</div>
<% else %>
<p>保存されているメモはありません。</p>
<% end %>